<%= content_for :title, "Home" %>
<section class="flex flex-col items-center justify-center w-full">
    <h1 class="text-6xl font-medium mb-4">Welcome to Social Bridge</h1>

    <p class="text-lg text-gray-500">This is the home page.</p>
</section>